* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100
}

.emoji {
    font-size: 10
    cursor: pointer;
    user-select: none;
}

.dog {
    display: none;
}

.cat {
    display: none;
}

#active {
    display: block;
}